@import url("https://fonts.cdnfonts.com/css/codec-pro");

:root {
  --white: #eff1f3;
  --light-grey: #c8c8c8;
  --grey: #555555;
  --black: #0f1819;
  --dark-blue: #101728;
  --blue: #1f41bb;
  --red: #fe0000;
  --br: 2rem;
}

/* HTML ELements */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  z-index: -9999;
  background-color: var(--dark-blue);
  font-family: "Codec Pro", sans-serif;
}

section {
  padding: 6rem 4rem;
}

button {
  background-color: var(--red);
  color: var(--white);
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--white);
  box-shadow: 0 0 0 0 white;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 var(--white);
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 var(--white);
}

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: var(--br);
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--br);
  background: var(--red);
}

/* Reusable Elements */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.heading {
  font-size: 5rem;
  line-height: 6rem;
}

.subheading {
  font-weight: 400;
  font-size: 4rem;
}

.text {
  font-weight: 200;
  font-size: 2rem;
  line-height: 4rem;
}

.btn {
  border-radius: var(--br);
  border: none;
  cursor: pointer;
  align-items: center;
  border: 0.2rem solid transparent;
  transition: all 0.4s ease-in-out;
  font-size: 2rem;
  padding: 2rem 4rem;
  height: 5rem;
}

.link {
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-size: 1.8rem;
}

.header-link {
  padding-bottom: 0.4rem;
  border-bottom: 0.3rem solid transparent;
}

.header-link:hover {
  border-bottom: 0.3rem solid var(--white);
}

/* Header */

.header {
  background-color: var(--blue);
  border-radius: var(--br);
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 1.6rem 4rem;
}

.logo {
  width: 10rem;
}

.logo:hover {
  cursor: pointer;
}

.header-links {
  align-items: center;
  gap: 2rem;
}

.signals-btn {
  color: var(--white);
  background-color: var(--red);
}

.signals-btn:hover {
  background-color: transparent;
  border: 0.2rem solid var(--white);
}

/* Mobile-menu */

.mobile-menu-btn,
.mobile-menu-btn-close {
  height: 3rem;
  width: 3rem;
  display: none;
}

.mobile-menu {
  background-color: var(--blue);
  border-radius: var(--br);
  position: absolute;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid var(--black);
  z-index: 99;
  padding: 4rem;
  gap: 2rem;
  height: 25rem;
  display: none;
}

.hr {
  width: 100%;
  border-top: 0.1rem solid var(--white);
}

.signals-btn-mobile {
  margin: 1rem 0 0 0;
}

.show {
  display: flex;
  left: 2rem;
  right: 2rem;
}

.hide-btn {
  display: none !important;
}

.show-btn {
  display: block !important;
}

/* Footer */

.footer {
  border-top: 0.1rem solid var(--white);
  justify-content: space-around;
  padding: 8rem 2rem 0 2rem;
  margin: 4rem;
}

.footer img {
  width: 8rem;
}

.footer-subheading {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.footer-link {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  color: var(--Cyan);
}

.footer-icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  padding-right: 2rem;
}

.footer-icon:first-child:hover {
  color: #fe0083;
}

.footer-icon:nth-child(2):hover {
  color: grey;
}

.footer-icon:nth-child(3):hover {
  color: red;
}

.footer-icon:last-child:hover {
  color: #2bb741;
}

.footer-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

/* Success */
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
}

.success .text {
  width: 80%;
  margin-top: 2rem;
}
